html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #f3e9f1;
}

/* HEADER */


.header{
    display: flex;
    justify-content: space-between;
}

.basket{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    text-align: center;
}

nav{
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    color: white;
}

.logoCart{
    display: flex;
    margin: 50px;
}

.logoCart i{
    font-size: 25px;
    color:blueviolet;
}


/* SECTION CARDS ACCUEIL */


#container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardsProduct{
    width: 500px;
    background-color: orange;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
}

figure{
    margin: 0;
}

img{
    width: 500px;
    border-radius: 20px 20px 0 0;
}

.imgOrinoco{
    height: 100px;
    width: 250px;
}

a{
    text-decoration: none;
    color: black;
}

#error{
    display: flex;
    color: red;
    border-radius: 5px;
    padding: 5px;
}

#descripText{
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: orange;
    color: white;
    border-radius: 20px;
}

p{
    font-size: 20px;
}

.descript_text button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    border: none;
}


#containerDetails .cardsProduct{
    width: 800px;
    margin: auto;
}

#containerDetails .cardsProduct img{
    width: 800px;
}


#containerDetails .cardsProduct button{
    margin-left: 200px;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px blueviolet;
    background-color: blueviolet;
    color: antiquewhite;
}

#containerDetails .cardsProduct button:hover{
    transform: translateY(3px);
    box-shadow: 0 6px blueviolet;
}

#containerDetails .cardsProduct button:active{
    transform: translateY(7px);
    box-shadow: 0 2px blueviolet;
}

#containerDetails .cardsProduct select{
    width: 250px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}



/* ------------CART ----------------*/

article{
    display: flex;
    margin-bottom: 10px;
    border-radius: 50px;
    background-color: orange;
    color: white;
    height: 200px;
}

article img{
    border-radius: 50px 0 0 50px;
    width: 300px;
}

.resum-cart{
    margin-left: 20px;
}

.total{
    background-color: orange;
    color: white;
    width: 200px;
    height: 25px;
    text-align: center;
    border-radius: 50px;
    float: right;
}

/* -------------------FORMULAIRE--------------- */
#sendForm{
    /* display: none; */
    background-color: orange;
    text-align: center;
    padding: 20px;
    width: 500px;
    border-radius: 50px;
    margin: auto;
}

#sendForm input{
    font-size: 30px;
    border: none;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    border: solid 2px blueviolet;
    color: black;
    outline: none;
}


#pushButton{
    
    display: block;
    margin: 25px auto;
    padding: 15px 25px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px blueviolet;
    background-color: blueviolet;
    color: antiquewhite;
}

#pushButton:hover{
    transform: translateY(3px);
    box-shadow: 0 6px blueviolet;
}

#pushButton:active{
    transform: translateY(7px);
    box-shadow: 0 2px blueviolet;
}

.emptyCard{
    color: red;
    font-size: 50px;
    text-align: center;
}

small{
    color: red;
}
/* ------------------- FIN FORMULAIRE--------------- */


/* -------------------REMERCIEMENT--------------- */
#commmand, h1{
    padding: 20px;
    text-align: center;
    background-color: orange;
    color: whitesmoke;
    border-radius: 50px;
}

#backButton {  
    display: block;
    margin: 25px auto;
    padding: 15px 25px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px blueviolet;
    background-color: blueviolet;
    color: antiquewhite;
    width: 500px;
    text-align: center;
}

#backButton:hover{
    transform: translateY(3px);
    box-shadow: 0 6px blueviolet;
}

#backButton:active{
    transform: translateY(7px);
    box-shadow: 0 2px blueviolet;
}



@media all and (max-width: 1000px) {

/*------------ DEBUT PAGE INDEX ---------------*/
.header{
    display: flex;
    flex-direction: column;
}

.logoCart{
    margin: 0;
}

#container{
    flex-direction: column;
}

.cardsProduct{
    width: 300px;
}

.cardsProduct img {
    width: 300px;
}

.descript_text p {
    margin: 0;
}

/*------------ FIN PAGE INDEX ---------------*/

/*------------ DEBUT PAGE DETAILS ---------------*/

#containerDetails .cardsProduct{
    width: 300px;
}

#containerDetails .cardsProduct img {
    width: 300px;
}

#containerDetails #basketBtn{
    margin: 10px 0 10px 50px;
}

/*------------ FIN PAGE DETAILS ---------------*/

/*------------ DEBUT PAGE PANIER ---------------*/

article{
    flex-direction: column;
    height: 500px;
}

article img{
    border-radius: 50px 50px 0 0;
    width: 305px;
}

#sendForm{
    width: 270px;
}

#sendForm input{
    width: 250px;
}
/*------------ FIN PAGE PANIER ---------------*/
}