html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #f3e9f1;
}

/* HEADER */


.header{
    display: flex;
    justify-content: space-between;
}

.basket{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    text-align: center;
}

nav{
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    color: white;
}

.logoCart{
    display: flex;
    margin: 50px;
}

.logoCart i{
    font-size: 25px;
    color:blueviolet;
}


/* SECTION CARDS ACCUEIL */


#container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardsProduct{
    width: 500px;
    background-color: orange;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
}

figure{
    margin: 0;
}

img{
    width: 500px;
    border-radius: 20px 20px 0 0;
}

.imgOrinoco{
    height: 100px;
    width: 250px;
}

a{
    text-decoration: none;
    color: black;
}

#error{
    color: red;
    border-radius: 5px;
    padding: 5px;
}

#descripText{
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: orange;
    color: white;
    border-radius: 20px;
}

p{
    font-size: 20px;
}

.descript_text button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    border: none;
}


#containerDetails .cardsProduct{
    width: 800px;
    margin: auto;
}

#containerDetails .cardsProduct img{
    width: 800px;
}

#containerDetails .cardsProduct button{
    margin-left: 40px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#containerDetails .cardsProduct select{
    width: 250px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
