html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #f3e9f1;
}

/* HEADER */


.header{
    display: flex;
    justify-content: space-between;
}

.basket{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    text-align: center;
}


/* SECTION CARDS */


#container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardsProduct{
    width: 500px;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 20px 20px 10px 10px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
}

figure{
    margin: 0;
}

img{
    width: 500px;
    border-radius: 20px 20px 0 0;
}

a{
    text-decoration: none;
    color: black;
}

.descript_text{
    padding-left: 20px;
    background-color: black;
    color: white;
}

p{
    font-size: 20px;
}

.descript_text button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}
